<%= form_for @server, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :instance_id, :class => 'control-label' %>
    <div class="controls">
      <span><%= @server.instance_id %></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :shutdown, :class => 'control-label' %>
    <div class="controls">
      <span class="icon-off"></span>　<%= f.check_box :shutdown, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :start_time, 1.upto(24).map{|i| "%02d:00" % i}, include_blank: true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :stop_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :stop_time, 1.upto(24).map{|i| "%02d:00" % i}, include_blank: true %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                servers_path, :class => 'btn' %>
  </div>
<% end %>
