<%- model_class = Server -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>インスタンスID</th>
      <th>名称</th>
      <th>タイプ</th>
      <th>状態</th>
      <th>説明</th>
      <th>電源OFF</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.instance_id %></td>
        <td><%= instance.tags.find{ |tag| tag[:key] == 'Name'}[:value] %></td>
        <td><%= instance.instance_type %></td>
        <td><%= instance.state.name %></td>
        <td><%= @servers[instance.instance_id].try(:description) %></td>
        <td>
          <% if @servers[instance.instance_id].try(:shutdown) %>
            Start:<%= @servers[instance.instance_id][:start_time] %><br />
            Stop:<%= @servers[instance.instance_id][:stop_time] %>
          <% else %>
            -
          <% end %>
        </td>
        <td>
          <%= link_to '<span class="icon-cog"></span>'.html_safe, action: :setting, instance_id: instance.instance_id %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
