<p id="notice"><%= notice %></p>

<h1>Listing Servers</h1>

<table>
  <thead>
    <tr>
      <th>Instance</th>
      <th>Name</th>
      <th>InstanceType</th>
      <th>Description</th>
      <th>Shutdown</th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance_id,instance_value| %>
      <tr>
        <td><%= instance_id %></td>
        <td><%= instance_value[:tag_set].find{ |tag| tag[:key] == 'Name'}[:value] %></td>
        <td><%= instance_value[:instance_type] %></td>
        <td></td>
        <td>
          <% if @servers[instance_id].shutdown %>
            [有効]
          <% else %>
            [無効]
          <% end %>|
          <%= button_to '設定', { action: :shutdown, instance_id: instance_id }, method: :post, remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
