<%= simple_form_for @account, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <div class="controls">
      <%= f.input :user_arn, size: 50, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :user_name, size: 50, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :access_key_id, size: 100, class: 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.input :secret_access_key, size: 100, class: 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                accounts_path, :class => 'btn' %>
  </div>
<% end %>
